.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e5e5;
}
.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background-color: #f7f6b9;
}
.main_frame .left_frame{
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
}

.main_frame .middle_frame {
    /* My Services */
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}
.main_frame .right_frame { 
    position: relative;
    width: 108px;
    height:1315px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_frame .left_profile {
    position:relative; 
    width: 228px;
    margin-top: 20px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_frame .left_profile .profile_image {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 150.53px;
    margin-bottom:29.46px;
    margin-top: 10.46px;
    border-radius: 50%;
}
.left_frame .left_profile .profil_name {
    position: relative;
    width: 66px;
    height: 20.85px;
    margin-bottom: 6.5px;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 123.6%;
    /* or 22px */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    color: #2B2B2B;
}
.left_frame .left_profile .profil_profession {
    position: relative;
    /* width: 147.84px; */
    height: 24.31px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    /* Paragraph Font */
    color: #767676;
}
.left_frame .left_profile .profil_socials {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}
.profil_socials .social_link_href {
    text-decoration: none;
    color:black;
}
.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 1, 0.25)); */
    background-color: #ffb400;
}
/* .icon-1 {
    position: relative;
    width: 29.17%;
    height: 27.08%;
    margin-top:5.86px; 
} */

.left_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
    border: 1.5px solid #ffd000;
}
.left_frame .left_info {
    position: relative;
    width: 220px;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
}
.left_info .info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.left_info .info_value {
    background: #ffb400;
    padding: 2px 6px;
    border-radius: 2px;
}

.left_frame .left_languages {
    position: relative;
    width: 220px;
    /* height: 123px; */
    margin-left: 44px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.left_languages .lang_title {
    position: relative;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.left_languages .lang_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.left_languages .lang_progress {
    width: 100%;
    height: 4px;
    border: 1px solid #ffb400;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.left_frame .left_skills {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    background-color: rgb(243, 52, 52);
}
.left_frame .left_extra_skills {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    background-color: rgb(243, 52, 52);
}



